
:root { 
    --main-title-color: #ffffff;
    --second-title-color:#2E2F42;
}


body{
    font-family:  'Roboto',  sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}



.link {
    text-decoration: none;
    color: inherit;
}



.list {
list-style: none;
}



.header-link:hover {
    background-color:#404bbf;
    color:#FFFFFF;
}

.header-logo link {
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
font-family: "Raleway", sans-serif;
}

.header-logo-1 link {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-color);
    font-family: "Raleway", sans-serif;
}


.nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42;
    }
    


.address {
    font-style: normal; 
}


.nav link a {
    text-decoration: none;
        color: inherit;
}


.contacts-item {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.contacts-item:is(:hover, :focus) {
color:#404bbf;
}

.first-section {
    background-color:  #2e2f42; 
}

.header-main {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.header-btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#ffffff;
    cursor: pointer;
}

.header-btn:is(:hover, :focus){
    background-color: #404BBF;
}

.main-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
}

.main-list-paragraf{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



.title-section-three {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}



.team {
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
}


.taem-list {
    background-color: #FFFFFF;
}




.portfolio-button-items 
{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
}


.main-photo-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.second-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}



.footers {
    background-color: #2E2F42;
    }



.footer-studio link {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}